:root {
    --achromatic: 0, 0%;
    /* neutral color */
    --bg-color: hsl(60, 50%, 90%);
    --bg-input: hsl(60, 50%, 95%);
    --font-color: hsl(var(--achromatic), 30%);
}

* {
    box-sizing: border-box;
    touch-action: manipulation;
    /* disable double tap to zoom */
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-size: 100%;
    font-family: 'Merriweather', serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

ol, li, p, h2, header, main, footer {
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 2rem 0 0.5rem 0;
}

h2:first-of-type {
    margin-top: 0;
}

p {
    line-height: 1.4rem;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

/*
-------------------------------------------------------------------
HEADER
-------------------------------------------------------------------
*/

header {
    position: absolute;
    width: 100%;
    max-width: 100vw;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

header img {
    filter: invert(30%);
}

header img:hover {
    filter: invert(45%);
}

/*
-------------------------------------------------------------------
HAMBURGER-ICON
-------------------------------------------------------------------
*/

label.hamburger {
   display: block;
   width: 55px;
   height: 50px;
   position: relative;
   border-radius: 4px;
   z-index: 2000;
}

input#hamburger {display:none}

.line {
   position: absolute;
   height: 4px; width: 55px;
   background: var(--font-color); border-radius: 2px;
   display: block;
   transition: 0.5s;
   transform-origin: center;
}

.line:nth-child(1) { top: 12px; }
.line:nth-child(2) { top: 24px; }
.line:nth-child(3) { top: 36px; }

#hamburger:checked + .hamburger .line:nth-child(1){
   transform: translateY(12px) rotate(-45deg);
}

#hamburger:checked + .hamburger .line:nth-child(2){
   opacity:0;
}

#hamburger:checked + .hamburger .line:nth-child(3){
   transform: translateY(-12px) rotate(45deg);
}

/*
-------------------------------------------------------------------
SIDE NAVIGATION
-------------------------------------------------------------------
*/

aside {
  min-height: 100vh;
  width: 350px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: -350px;
  background-color: hsla(60, 50%, 95%, 0.95);
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 10px;
  transition: 0.5s;
}

.open {
    left: 0;
}

ol {
    margin: 0 1.5rem;
    padding: 0;
    list-style-position: outside;
}

ol li {
    margin: 0.8rem 0;
}

/*
-------------------------------------------------------------------
MAIN
-------------------------------------------------------------------
*/
main {
    margin: 65px 5vmin 5vmin 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
	flex: 1 0 auto;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    margin-bottom: 2rem;
    padding: 0.7rem;
    font-size: 1rem;
    background-color: var(--bg-input);
    width: 40vmin;
    font-family: 'Merriweather', serif;
	min-width: 350px;
	color: var(--font-color);
}

/*
-------------------------------------------------------------------
DARUMA
-------------------------------------------------------------------
*/

#daruma {
    position: relative;
}

#daruma img {
    width: 40vmin;
	min-width: 350px;
}

#daruma div {
    position: absolute;
    background-color: hsl(var(--achromatic), 20%);
    border-radius: 50%;
    width: 6%;
	aspect-ratio: 1/1;
	min-width: 18px;
	min-height: 18px;
    opacity: 0;
    cursor: crosshair;
}

#daruma div.visible {
    opacity: 1;
}

#daruma .leftEye {
    top: 32%;
    left: 31.8%;
}

#daruma .rightEye {
    top: 32%;
    right: 30.5%;
}

/*
-------------------------------------------------------------------
WISH
-------------------------------------------------------------------
*/

#wish {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 3rem;
    margin: 4vmin;
    padding: 1vmin;
    min-width: 350px;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed var(--font-color);
}

#wish span {
    margin-right: 1vmin;
}

#wish span.hide {
    filter: blur(5px);
}

#wish:hover {
    background-color: var(--bg-input);
}

#wish span:empty::before {
  content: "Schreibe dein Ziel oder deinen Wunsch hier auf";
}

/*
-------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------
*/

footer {
    background-color: hsl(var(--achromatic), 20%);
    padding: 2vmin;
    color: hsl(var(--achromatic), 90%);
    font-size: 0.8rem;
    width: 100%;
    max-width: 100vw;
	flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    margin: 0 10px;
    filter: invert(35%);
}

footer img:hover {
    filter: invert(45%);
}

/*
-------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------
*/
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: hsl(var(--achromatic), 10%);
        --font-color: hsl(var(--achromatic), 80%);
    }
}
